<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Week 5</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3/dist/vue-loading.css" rel="stylesheet">
  <link rel="stylesheet" href="./css/all.min.css" />
</head>

<body>
  <header class="header">
    <nav class="navbar navbar-expand-lg navbar-light">
      <h1 class="logo fn_en mr-3"><a href="javascript:;">Fragrance</a></h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-md-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="javascript:;">About</a>
          <a class="nav-item nav-link active" href="javascript:;">
            Products
            <span class="sr-only">(current)</span>
          </a>
          <a class="nav-item nav-link" href="javascript:;">ContactUs</a>
        </div>
      </div>
    </nav>
  </header>

  <!-- Banner -->
  <div class="banner bg_cover products_banner"></div>

  <div id="app">
    <!-- VueLoading 套件 -->
    <loading :active.sync="isLoading"></loading>
    <!-- VueLoading 套件 End -->

    <div class="container">
      <!-- 產品列表區塊 -->
      <div class="row">
        <!-- 側邊分類 -->
        <div class="col-md-3 col-sm-12">
          <h3 class="side_title mb-3">
            <span class="sub_title fn_en">Collection</span>商品分類
          </h3>
          <ul class="collection_wrapper">
            <li class="series">
              <a href="javascript:;">人氣熱賣專區</a>
            </li>
            <li class="series">
              <a href="javascript:;">節慶送禮專區</a>
            </li>
            <li class="series">
              <a href="javascript:;">情人節專區</a>
            </li>
            <li class="series">
              <a href="javascript:;">畢業季專區</a>
            </li>
          </ul>
        </div>
        <!-- 產品列表 -->
        <div class="col-md-9 col-sm-12">
          <ul class="products_list d-flex flex-wrap">
            <li class="product card" v-for="(item, idx) in products" :key="item.id">
              <div class="card-img-top product_top">
                <img :src="item.imageUrl" alt="Card image cap" />
                <a href="javascript:;" class="more_info font-weight-bold">看更多內容</a>
              </div>
              <div class="product_body card-body">
                <h4 class="card-title text-dark font-weight-bold">
                  {{ item.title }}
                </h4>
                <p class="card-text">{{ item.content }}</p>
                <div class="d-flex align-items-center justify-content-between">
                  <span class="price fn_en">{{ item.price }}</span>
                  <button type="button" @click.prevent="addToCart(item)" class="add_cart">
                    <span class="material-icons">add_shopping_cart</span>
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- 產品列表區塊 End -->

      <!-- 購物車內容 -->
      <div class="row my-5 justify-content-center">
        <div class="col-md-8">
          <div class="mb-3 text-right">
            <button type="button" class="btn btn-outline-danger btn-sm" @click="removeAllCartItem()">
              刪除所有品項
            </button>
          </div>
          <table class="table">
            <thead>
              <th width="80">刪除</th>
              <th>品名</th>
              <th width="160">數量</th>
              <th width="120">單位</th>
              <th width="120">單價</th>
            </thead>
            <tbody v-if="cart.length">
              <tr v-for="item in cart" :key="item.id">
                <td>
                  <button type="button" class="btn btn-outline-danger btn-sm" @click="removeCartItem(item.product.id)">
                    <span class="material-icons">delete</span>
                  </button>
                </td>
                <td>
                  <!-- 商品名稱 -->
                  {{ item.product.title }}
                </td>
                <td>
                  <!-- 數量加減 -->
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <button type="button" class="btn btn-outline-primary btn-sm"
                        @click="quantityUpdate(item.product.id, item.quantity + 1)">
                        <span class="material-icons">add</span>
                      </button>
                    </div>
                    <input type="text" class="form-control text-center" :value="item.quantity"
                      @keyup.enter="quantityUpdate(item.product.id, $event.target.value)" />
                    <div class="input-group-append">
                      <button type="button" class="btn btn-outline-primary btn-sm"
                        @click="quantityUpdate(item.product.id, item.quantity - 1)" :disabled="item.quantity === 1">
                        <span class="material-icons">remove</span>
                      </button>
                    </div>
                  </div>
                </td>
                <td>
                  <!-- 商品數量 -->
                  {{ item.quantity }}
                </td>
                <td>
                  <!-- 商品價格 -->
                  {{ item.product.price}}
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="4">
                  總計
                </td>
                <td>
                  <!-- 商品總價 -->
                  {{ cartTotal }}
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <!-- 購物車內容 End -->

      <!-- 訂單表單 -->
      <div class="row my-5 justify-content-center">
        <validation-observer class="col-md-8" v-slot="{ invalid }">
          <form @submit.prevent="createOrder()">
            <div class="form-group">
              <validation-provider v-slot="{ errors, classes }" rules="required">
                <label for="username">收件人姓名</label>
                <input name="收件人姓名" type="text" id="username" class="form-control" v-model="form.name"
                  :class="classes" />
                <span v-if="errors[0]" class="text-danger">{{ errors[0] }}</span>
              </validation-provider>
            </div>
            <div class="form-group">
              <validation-provider v-slot="{ errors, classes }" rules="required">
                <label for="email">Email</label>
                <input name="Email" type="email" id="email" class="form-control" v-model="form.email"
                  :class="classes" />
                <span v-if="errors[0]" class="text-danger">{{ errors[0] }}</span>
              </validation-provider>
            </div>
            <div class="form-group">
              <validation-provider v-slot="{ errors, classes }" rules="required|min:8">
                <label for="tel">聯絡電話</label>
                <input name="聯絡電話" type="tel" id="tel" class="form-control" v-model="form.tel" :class="classes" />
                <span v-if="errors[0]" class="text-danger">{{ errors[0] }}</span>
              </validation-provider>
            </div>
            <div class="form-group">
              <validation-provider v-slot="{ errors, classes }" rules="required">
                <label for="address">地址</label>
                <input name="地址" type="text" id="address" class="form-control" v-model="form.address"
                  :class="classes" />
                <span v-if="errors[0]" class="text-danger">{{ errors[0] }}</span>
              </validation-provider>
            </div>
            <div class="form-group">
              <validation-provider rules="required" v-slot="{errors,classes}">
                <label for="payment">付款方式</label>
                <select name="付款方式" id="payment" class="form-control custom-select" v-model="form.payment"
                  :class="classes" required>
                  <option value="" disabled>請選擇付款方式</option>
                  <option value="WebATM">WebATM</option>
                  <option value="ATM">ATM轉帳</option>
                  <option value="ApplePay">ApplePay</option>
                  <option value="LinePay">LinePay</option>
                  <option value="CreditCard">信用卡付款</option>
                </select>
                <span v-if="errors[0]" class="text-danger">{{ errors[0] }}</span>
              </validation-provider>
            </div>
            <div class="form-group">
              <label for="message">備註</label>
              <textarea id="message" class="form-control" v-model="form.message" cols="30" rows="4"></textarea>
            </div>
            <div class="text-right">
              <button type="submit" class="btn btn-primary" :disabled="invalid">送出訂單</button>
            </div>
          </form>
        </validation-observer>
      </div>
      <!-- 訂單表單 End -->

      <!-- 訂單完成 Modal -->
      <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="orderModalLabel">訂單完成</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>恭喜您已完成訂單，謝謝您的訂購</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                關閉
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- 訂單完成 Modal End -->
    </div>
  </div>

  <footer class="footer p-3">
    <h5>
      圖片來源 <span class="fn_en">Unsplash</span><br />
      無商業用途，僅供學習使用
    </h5>
  </footer>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/3.3.8/vee-validate.full.min.js"
    integrity="sha512-riEG3Bo7Ad2XdMdqbIWyd6N8RSGJfty1+lkBDrAoK2FnDaPqLiUoQrjkk5JL2MLTeKft6a/GuoUwIuUILvhfNQ=="
    crossorigin="anonymous"></script>
  <!-- 欲使用 import 需將 type 設定為 module -->
  <script type="module" src="js/main.js"></script>
</body>

</html>